.body_background {
    background-color: aqua;
}
#math_quiz_img_1 {
width: 80%;
}
h1 {
    color: purple;
}
h2  {
    color: red;
}
#output {
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}